@import "tailwindcss";

@layer utilities {

  @keyframes rotate {
      100% {
          transform: rotate(1turn);
      }
  }

  @keyframes blink {
    0%,
    100% {
      opacity: 1;
    }
    50% {
      opacity: 0;
    }
  }
  .animate-blink {
    animation: blink 0.8s step-end infinite;
  }
  @keyframes loading {
    0% {
      transform: translateX(-100%);
    }
    100% {
      transform: translateX(250%);
    }
  }
  .animate-loading-bar {
    animation: loading 0.8s ease infinite;
  }

}

:root {
  color-scheme: dark;
}

html {
  scroll-behavior: smooth;
}

main {
  scroll-behavior: smooth;
}

body {
  -webkit-overflow-scrolling: touch;
  overscroll-behavior-y: auto;
  touch-action: pan-y;
}